@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/***=== NAVBAR ===***/
.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.navbar nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px;
  position: relative;
}

.navbar nav .navContainer{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar nav .navContainer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3rem;
    height: 24px;
  }
  
  .navbar nav .navContainer ul  li a{
    font-size: 16px;
    font-weight: 400;
    color: #505F98;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .navbar nav .navContainer ul  li a:hover{
    color: #505F98;
  }

.navbar nav .navContainerForSm{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav .navContainerForSmallScreen {
  display: flex;
  position: absolute;
  width: 100%;
  top: 70px;
  left: -120rem;
  height: calc(100vh - 80px);
  list-style: none;
  transition: left 1s;
  color: black;
}

.navbar nav .navContainerForSmallScreen ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 22px;
  font-weight: 250;
  width: 100%;
  list-style: none;
}

.navbar nav .navContainerForSmallScreen ul  li a{
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.navbar nav .navContainerForSmallScreen ul  li a:hover{
  text-decoration: none;
  transform: scale(1.250) translateY(-5px);
}

.navbar nav .navH h2{
  font-size: 26px;
  font-weight: 900;
  color: #505F98;
  letter-spacing: 1.1px;
}

.navbar nav .navbtn button{
  background-color: #111b47;
  color: white;
  border: 2px solid #111b47;
  text-align: center;
  width: 160px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

/**============ HERO SECTION =========**/
.heroSection{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection .textContainer{
  width: 50%;
}

.heroSection .textContainer h1{
  color: #091133;
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
}

.heroSection .textContainer p{
  color: #505F98;
  font-size: 18px;
  font: 400;
  line-height: 30px;
  padding-top: 1rem;
}

.heroSection .textContainer .heroSectionBtn{
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 4rem;
}

.heroSection .textContainer .heroSectionBtn button{
  width: 189.13px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
  color: #091133;
  background-color: transparent;
  border: 2px solid #111b47;
  cursor: pointer;
}

.heroSection .img {
  display: flex;
}

.heroSection .img img{
  width: 45rem;
  height: 40rem;
}














/**========  All media guery  ======**/

/**==  sm screen ==**/
@media (min-width: 640px){
  .navbar nav{
    padding: 0 32px 0 32px;
  }

  .navbar nav .navContainer {
    display: none;
  }
}


/**==  md screen  ==**/
@media (min-width: 768px){
  .navbar nav{
    padding: 0 32px 0 32px;
  }

  .navbar nav .navContainer{
    display: flex;
    width: min-content;
  }

  .navbar nav .navContainerForSmallScreen {
    display: none;
  }

  .navbar nav .navContainerForSm{
    display: none;
  }
}

/**==  lg screen  ==**/
@media (min-width: 1024px){
  .navbar nav{
    padding: 0 64px 0 64px;
  }

  .navbar nav .navContainer ul{
    gap: 50px;
  }
}

/**==  xl screen  ==**/
@media (min-width: 1280px){
  .navbar nav{
    padding: 0 128px 0 128px;
  }
}

/**==  2xl screen  ==**/
@media (min-width: 1536px){
  .navbar nav{
    padding: 0 256px 0 256px;
    }
}